body {
	font-family: Helvetica;
	background-color: rgb(227, 220, 229);
	background-image: url(../images/BridalPartywPhone.jpg);
	background-size: cover;
}

h1 {
	color: #474746;
	text-align: Center;
	font-size: 36px;

}
h3{
	font-size: 30px;
	text-align: center;
	color: #474746;
}
p {
	color: #474746;
	font-size: 14px
}
ul{
	font-size: 14px;

}
a {
	text-decoration: underline;
	text-align: center;
	color: #474746;
	font-size: 14px;
}
