body {
	background: url("images/BridalPartywPhone");
	background-size: cover;
	font-family: Helvetica;
}

h1 {
	color: #474746;
	text-align: Center;

}
p {
	color: #000;
	text-align: Center;
	font-size: 22px
}
a {
	text-decoration: underline;
}