body {
	font-family: Helvetica;
	background: url("images/BridalPartywPhone.jpg");
	background-size: cover;
}

h1 {
	color: #474746;
	text-align: Center;
	font-size: 36px;

}
h3{
	font-size: 30px;
	text-align: center;
}
p {
	color: #000;
	text-align: Center;
	font-size: 14px
}
ul{
	font-size: 14px;

}
a {
	text-decoration: underline;
}
img {
	width: 960px;
	Height: 600px;
}